@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

header{
    padding: 25px;
    text-align: center;
    background-color: #c31212;
    color: #ffffff;
}

.imgHeader{
    width: 50px;
}

nav {
    background-color: #dd7200;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
}
 
nav form {
    float: right;
}

nav form input {
    padding: 14px 16px;
    margin: 10px;
    border-radius: 10px;
    border: transparent;  
}

nav form input[type="submit"]{
    cursor: pointer;
}

nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Addon */
.addon {
    background-color: #927fdb;
}

.addon ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
}

.addon div {
    float: left;
}

.addon li {
    float: right;
}
  
.addon li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
}

.addon li h3 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.addon li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.active {
    background-color: #ffffff;
    color: #000000;
}

body {
    background-color: #eaceea;
}

a {
    text-decoration: none;
    color: #ffffff
}

.articulos{
    margin: 0px auto;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.individual{
    background-color: #fff;
    margin: 15px auto;
    width: 75%;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
}

.individual button {
    background-color: #3512c3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: transparent;
    color: #ffffff;
    cursor: pointer;
}

.individual button:disabled{
    background-color: #808080;
    cursor: not-allowed;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: transparent;
    padding: 20px;
}

thead th{
    padding: 10px;  
    color: #fff;
    background-color: #3512c3;
}
tbody tr td{
    padding: 10px;
    background-color: #eaceea;
}

img {
    width: 300px;
    border-radius: 10px;
}

.push {
    height: 100px;
}

.item{
    padding: 10px;
}

footer{
    padding: 25px;
    text-align: center;
    background-color: #3512c3;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}